* {
    font-family: "SimHei";
    touch-action: pan-y;
}

.g-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.mui-control-content .mui-loading {
    margin-top: 50px;
}

.mui-control-content {
    background-color: white;
}

.mui-multi-row {
    background-color: white;
}

.mui-multi-row label {
    font-family: "SimHei";
    line-height: 1.1;
    float: left;
    width: 35%;
    padding: 11px 15px;
    font-size: 14px;
    color: #5f5f5f;
}

.dzl-hide,
.zbui-hidearea {
    display: none;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
    top: 0px;
}

.bootstrap-table input.form-control {
    margin-bottom: 0px;
    height: 30px;
}

.zbui-multi-row,
.zbui-input-row,
.zbui-button-row {
    position: relative;
    clear: left;
    overflow: hidden;
    padding: 0px 15px;
    background-color: white;
    border-bottom: 1px solid #efeff4;
}

.zbui-button-row {
    background-color: #efeff4;
}

.zbui-form {
    overflow-y: auto;
}

.zbui-form .zbui-input-row {
    min-height: 40px;
}

.zbui-form-pad .zbui-input-row:after,
.zbui-form .zbui-input-row:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    /*background-color: #c8c7cc;*/
}

.zbui-input-row label,
.zbui-multi-row label {
    line-height: 1.1;
    float: left;
    width: 35%;
    padding: 11px 0px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #5f5f5f;
    position: relative;
    top: 2px;
}

.zbui-input-row label~input,
.zbui-input-row input,
.zbui-input-row label~select,
.zbui-input-row select,
.zbui-multi-row label~textarea,
.zbui-multi-row textarea{
    float: right;
    width: auto;
    margin-bottom: 0;
    padding-left: 15px;
    border: 1px solid white;
    border-radius: 0px;
    font-size: 15px;
    color: #535353;
    text-align: right;
    width: 100%;
    background-color:transparent;
    padding-right: 0;
    text-overflow: ellipsis;
}

input:-webkit-autofill{-webkit-box-shadow: 0 0 0px 1000px white inset;}

.zbui-multi-row label {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.1;
    float: left;
    width: 35%;
    padding: 11px 0px;
}

.zbui-multi-row .zbui-multitext {
    width: 100%;
    text-align: left;
    padding: 0;
}

.zbui-input-row .mui-numbox {
    float: right;
    margin: 2px 0px;
}

.zbui-input-row .mui-switch {
    float: right;
    margin-top: 5px;
    /*margin-right: 20px;*/
}

.zbui-form .zbui-multi-row {
    height: auto;
}


.mui-bar .mui-btn {
    font-size: 17px;
}

.zbui-datalist,
.zbui-datalist-pad {
    margin-top: 0px !important;
}

.zbui-checklist > label,
.zbui-checklist-pad > label{
    line-height: 1.1;
    float: left;
    width: 35%;
    padding: 11px 0px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #5f5f5f;
}

.zbui-checklist > .zbui-checklist-content > .mui-input-row > label,
.zbui-radiolist > .zbui-checklist-content > .mui-input-row > label{
    white-space: nowrap;
    display: inline-block;
    width: auto;
}

.zbui-radiolist > .zbui-checklist-content > .mui-input-row > label,
.zbui-radiolist-pad > .zbui-checklist-content > .mui-input-row > label{
    white-space: nowrap;
}

.zbui-checklist-content {
    float: right;
    width: 65%;
}

.zbui-checklist .mui-checkbox input[type=checkbox],
.zbui-radiolist .mui-radio input[type=radio] {
    top: 7px;
}

.zbui-checklist .mui-checkbox input[type=checkbox]:before,
.zbui-radiolist .mui-radio input[type=radio]:before {
    font-size: 23px;
}

.f-nolabel  .zbui-checklist-content {
    width: 100%;
}

.zbui-checklist-content .mui-input-row {
    display: inline-block;
}

.zbui-checklist-content .mui-input-row:after {
    background-color: white;
}

.zbui-accordion .mui-collapse-content,
.zbui-accordion-pad .mui-collapse-content {
    padding-top: 0px !important;
}

.mui-bar-nav {
    /*background-color: #00c6ff;*/
    height: 49px;
    background: -webkit-linear-gradient(#00d3ff, #00b5ff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#00d3ff, #00b5ff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#00d3ff, #00b5ff); /* Firefox 3.6 - 15 */
    background: linear-gradient(#00d3ff, #00b5ff); /* 标准的语法 */
    padding: 0;
}

.mui-bar-nav~.mui-content {
    /*padding-top: 49px;
    height: 100%;
    background-color: white;*/
    padding-top: 0;
    position: absolute;
    top: 49px;
    bottom: 0;
    left: 0;
    right: 0;
}

.mui-bar-nav .mui-title {
    color: white;
    height: 49px;
    line-height: 49px;
    font-size: 18px;
}

.mui-bar-nav .mui-pull-left {
    color: white;
    height: 100%;
    font-size: 18px;
    margin-right: 0px !important;
    width: 50px;
    position: relative;
}

.mui-bar-nav .mui-pull-left .mui-icon {
    position: absolute;
    top: 13px;
    left: 10px;
}

.mui-bar-nav .mui-pull-left:active {
    border-width: 0;
}

.mui-bar-nav .mui-pull-right {
    color: white;
    position: relative;
    top: 2px;
    padding: 0 10px 0 10px;
}

.mui-bar-nav .mui-pull-right:active {
    border-width: 0;
}

.mui-bar-nav .mui-icon-home {
    height: 49px;
    background-image: url(../images/home.png);
    background-repeat: no-repeat;
    background-position: center;
    right: 12px;
}

.mui-bar-nav .mui-icon-home:before {
    content: "";
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: #6795f5;
    border-bottom: 3px solid #6795f5 !important;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
    font-size: 12px;
    color: #5f5f5f;
    border-bottom: 3px solid transparent;
}

.mui-table-view .mui-ellipsis {
    font-size: 14px;
    color: #5f5f5f;
}

.mui-table-view h4 {
    font-weight: bold;
}

.mui-btn-primary {
    border: 1px solid #009bff;
    background-color: #009bff;
}

.zbui-button.mui-btn-block {
    height: 50px;
    padding: 13px 0;
    margin-bottom: 0px;
}

.zbui-button-row {
    position: relative;
    text-align: center;
    padding: 0;
    border-bottom: 0;
}

.mui-btn-primary:active {
    background-color: #84a8f3; !important;
    border: 1px solid #84a8f3;;
}


/*下拉刷新*/
.mui-bar~.mui-content .mui-fullscreen {
    top: 0px !important;
    height: auto;
}

.mui-pull-top-tips {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
}

.mui-bar~.mui-pull-top-tips {
    top: 24px;
}

.mui-pull-top-wrapper {
    width: 42px;
    height: 42px;
    display: block;
    text-align: center;
    background-color: #efeff4;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-clip: padding-box;
    box-shadow: 0 4px 10px #bbb;
    overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
    /*-webkit-backface-visibility: hidden;
                -webkit-transition-duration: 400ms;
                transition-duration: 400ms;*/
    margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
    margin-top: 7px;
}

.mui-pull-top-wrapper .mui-icon.mui-reverse {
    /*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.mui-pull-bottom-tips {
    text-align: center;
    background-color: #efeff4;
    font-size: 15px;
    line-height: 40px;
    color: #777;
}

.mui-pull-top-canvas {
    overflow: hidden;
    background-color: #fafafa;
    border-radius: 40px;
    box-shadow: 0 4px 10px #bbb;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.mui-pull-top-canvas canvas {
    width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
    background-color: #efeff4;
}

.zbui-tabbar.mui-bar-tab .mui-tab-item.mui-active {
    color: white;
    background-color: #6795f5;
}

.zbui-tabbar.mui-bar-tab .mui-tab-item {
    color: white;
    background-color: #50c9f6;
}

.mui-bar-tab .mui-tab-item .mui-icon {
    height: 21px;
    background-repeat: no-repeat;
    background-position: center;
}

.mui-icon-home {
    background-image: url(../images/icons/home.png);
}

.mui-icon-home:before {
    content: '';
}

.mui-active .mui-icon-home {
    background-image: url(../images/icons/home-active.png);
}

.mui-icon-email {
    background-image: url(../images/icons/jy.png);
}

.mui-icon-email:before {
    content: '';
}

.mui-active .mui-icon-email {
    background-image: url(../images/icons/jy-active.png);
}

.mui-icon-weixin {
    background-image: url(../images/icons/zx.png);
}

.mui-icon-weixin:before {
    content: '';
}

.mui-active .mui-icon-weixin {
    background-image: url(../images/icons/zx-active.png);
}

.mui-icon-gear {
    background-image: url(../images/icons/my.png);
}

.mui-icon-gear:before {
    content: '';
}

.mui-active .mui-icon-gear {
    background-image: url(../images/icons/my-active.png);
}

.mui-icon-jd {
    background-image: url(../images/icons/zdjd.png);
}

.mui-icon-jd:before {
    content: '';
}

.mui-active .mui-icon-jd {
    background-image: url(../images/icons/zdjd-active.png);
}

.mui-icon-yj {
    background-image: url(../images/icons/yj.png);
}

.mui-icon-yj:before {
    content: '';
}

.mui-active .mui-icon-yj {
    background-image: url(../images/icons/yj-active.png);
}

.mui-icon-xx {
    background-image: url(../images/icons/xx.png);
}

.mui-icon-xx:before {
    content: '';
}

.mui-active .mui-icon-xx {
    background-image: url(../images/icons/xx-active.png);
}

.mui-bar-tab~.mui-content {
    height: 100%;
}

.mui-content .mui-control-content {
    height: 100%;
    overflow: auto;
}

.zbui-input-row .mui-search {
    margin: 10px 0px;
    background-color: #f6f6f6;
}

.zbui-input-row .mui-search .mui-placeholder {
    text-align: left;
    padding-left: 5px;
    color: #c9c9c9;
}

.zbui-input-row .mui-active.mui-search:before {
    color: #c9c9c9;
} 

.zbui-input-row .mui-icon-search:before {
    color: #cfcfcf;
}

input.zbui-searchbox {
    margin-bottom: 0px;
    width: 100%;
    background-color: #f6f6f6;
    border-width: 0;
}

.zbui-picSlider .mui-input-row.mui-search:before {
    margin-top: -18px;
}

.mui-input-row.mui-search:before {
    margin-top: -9px;
    z-index: 1;
}

.mui-icon-jcyy {
    background-image: url(../images/jcyy.png);
}

.mui-icon-bgcx {
    background-image: url(../images/bgcx.png);
}

.zbui-sqgrid .mui-icon {
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
}

.zbui-sqgrid .mui-table-view {
    background-color: white !important;
    border-color: white !important;
}

.zbui-sqgrid .mui-table-view-cell {
    border-color: white !important;
}

.zbui-sqgrid .mui-table-view-cell {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.zbui-sqgrid {
    margin-top:0 !important;
    background-color: white !important;
    border-top: 0 !important;
    border-left: 0 !important;
}

.zbui-picSlider .mui-search {
    margin: 0px 33px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 17px;
    border-color: transparent;
}

.zbui-picSlider .mui-search input{
    background-color: white;
    border-radius: 15px;
}

/*选择菜单样式*/
.mui-picker {
    background-color: #ffffff;
}

.mui-pciker-list li {
    color:#bcbcbc;
}

.mui-pciker-list li.highlight {
    color: #6795f5;
    font-size: 1.3pc;
}

.mui-dtpicker, .mui-poppicker {
    background-color: white;
}

.mui-dtpicker-title h5 {
    background-color: white;
}

.zbui-menuList {
    font-size: 14px;
    color: #666666;
    margin-top:0px !important;
}

.zbui-menuList .mui-checkbox input,
.zbui-menuList .mui-radio input {
    top: 50% !important;
    margin-top: -13px;
}

.zbui-menuList .mui-checkbox input:before,
.zbui-menuList .mui-radio input:before {
    font-size: 23px;
}

.zbui-menuList-nodata {
    text-align: center;
    font-size: 20px;
    padding: 25px 0px;
    color: #bebebe;
}

.zbui-menuList .mui-slider-handle {
    background-color: transparent;
}

.zbui-menuList .mui-selected .mui-btn {
    background-color: red;
    padding: 0;
}

.u-btn {
    background-color: red;
}

.zbui-menuList .mui-selected .mui-btn span {
    padding: 0 30px;
    -webkit-align-items: center;
    height: 100%;
    align-items: center;
    display: flex;
}

.mui-btn.mui-disabled {
    background-color: #d6d6d6;
    border-color: #e6e6e6;
}


/*----------------mui.showLoading---------------*/
.mui-show-loading {
    position: fixed;
    padding: 5px;
    width: 120px;
    min-height: 120px;
    top: 45%;
    left: 50%;
    margin-left: -60px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    visibility: hidden;
    margin: 0;
    z-index: 2000;

    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    opacity: 0;
    -webkit-transform: scale(0.9) translate(-50%, -50%);
    transform: scale(0.9) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.mui-show-loading.loading-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
}
.mui-show-loading .mui-spinner{
    margin-top: 24px;
    width: 36px;
    height: 36px;
}
.mui-show-loading .text {
    line-height: 1.6;
    font-family: -apple-system-font,"Helvetica Neue",sans-serif;
    font-size: 14px;
    margin: 10px 0 0;
    color: #fff;
}

.mui-show-loading-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.mui-show-loading-mask-hidden{
    display: none !important;
}

.zbui-card > .mui-card-header {
    text-align: center;
    display: block;
}

.zbui-searchbox,.mui-search {
    position: relative;
    top: 1px;
    /*border: 1px solid #dcdcdc;*/
    border-radius: 6px;
}

.zbui-multitext {
    border-color: white;
    padding-top:0;
    padding-bottom: 0;
}

.zbui-slider .tabfit {
    white-space: nowrap;
    width: auto;
}

.zbui-slider .tabfit .mui-control-item {
    width: auto;
    padding: 0 10px;
    display: inline-block;
}

.zbui-slider .mui-slider-group {
    position: relative;
    top: -6px;
}

.zbui-slider .s-container {
    overflow-x: auto;
}

.zbui-box {
    overflow: hidden;
    position: relative;
    float: left;
}

.mui-navigate-right {
    padding-right: 17px;
}

.mui-navigate-right .textbox-handle {
    right: 20px !important;
}

.zbui-box .zbui-progressbar-content {
    float: right;
    position: relative;
}

.zbui-box.mui-navigate-right:after {
    right: 0px;
    top: 20px;
}

.zbui-box div.text-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.zbui-box div.text-shadow.readonly {
    z-index: 1;
}

.zbui-box .mui-input-row.mui-input-range {
    padding-left: 60px;
    position: relative;
    top:3px;
    height: 36px;
    padding-right: 0;
}

.zbui-progressbar-content .progressbar-num {
    width: 60px;
    text-align: center;
    position: absolute;
    left: 0;
    height: 34px;
    border-width: 0;
}

.zbui-progressbar-content .mui-tooltip {
    display: none;
}

.zbui-box .mui-progressbar {
    position: absolute;
    top: 12px;
    right: 0;
    left: 60px;
    width: auto;
    height: 10px;
}

.zbui-numberbox div.text-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.zbui-numberbox div.text-shadow.readonly {
    z-index: 1;
}

.zbui-box span {
    color: red;
    font-size: 12px;
    float: left;
}

.zbui-checklist,
.zbui-radiolist{
    float: left;
    width: 100%;
}

.zbui-checklist .text-star,
.zbui-radiolist .text-star{
    color: red;
    font-size: 12px;
    float: left;
    margin-top: 3px;
    margin-right: 4px;
}

.zbui-checklist .text-valid-msg,
.zbui-radiolist .text-valid-msg{
    width: 100%;
    color: red;
    font-size: 12px;
    float: left;
}


.zbui-box .text-valid-msg {
    width: 100%;
}

.zbui-box .text-star {
    margin-top: 3px;
    margin-right: 4px;
}

.zbui-dialog {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.zbui-vtabs .mui-control-item {
    display: block;
    width: 100%;
}

/*2018/6/19 add by dingzl*/
.zbui-fullscreen {
    width: 100%;
    height: 100%;
    position: relative;
}

.zbui-layout-table {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.zbui-layout-row {
    display: table-row;
}

.zbui-layout-cell {
    display: table-cell;
    position: relative;
}

.zbui-input {
    float: right;
    margin-bottom: 0;
    border-radius: 0px;
    font-size: 15px;
    color: #535353;
    text-align: right;
    width: 65%;
    background-color: transparent;
    padding-right: 0;
    min-height: 23px;
}

.zbui-multi-row .zbui-input {
    width: 100% !important;
}

.zbui-input > div {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    word-break: break-all;
    min-height: 23px;
}

.zbui-multi-row .zbui-input > div {
    text-align: left;
}

.zbui-box .textbox-icon {
    position: absolute;
    right: 28px;
    height: 40px;
    line-height: 37px;
}

.zbui-box .textbox-tag {
    position: absolute;
    right: 28px;
    height: 40px;
    line-height: 37px;
}

.zbui-box .textbox-handle {
    height: 40px;
    width: auto;
    position: absolute;
    right: 0;
    line-height: 20px;
    top: 0px;
}

.zbui-box .textbox-handle img {
    width: 30px !important;
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.zbui-box .textbox-handle a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    float: left;
    margin-left: 5px;
    color: #686868;
    margin-top: 8px;
}

.f-fit {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.zbui-progressbar {
    height: 0px !important;
    z-index: 1;
}

.zbui-echarts {
    width: 100%;
    height: 100%;
}

.mui-card {
    margin-left: 0;
    margin-right: 0;
}

.mui-card .mui-card-header {
    text-align: left;
}

.mui-card .mui-card-header:after {
    background-color: #e4e1e1;
}

.mui-card .mui-card-content .mui-card-content-inner {
    padding: 0;
}

.zbui-input-row .zbui-star {
    float: right;
    width: 65%;
    height: 40px;
    padding-top: 3px;
    text-align: right;
}

.mui-icon-star{color: #B5B5B5;font-size: 30px;}

.mui-icon-star-filled{color: #FFB400;font-size: 30px;} 

/*pics控件样式*/
.mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}
.mui-preview-header,
.mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
}
.mui-preview-header {
    height: 44px;
    top: 0;
}
.mui-preview-footer {
    height: 50px;
    bottom: 0px;
}
.mui-preview-header .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 15px auto;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
}
.mui-preview-image {
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.mui-preview-image.mui-preview-out {
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none;
}
.mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
}
.mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.mui-slider .mui-slider-group .mui-slider-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
    display: inline-table;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle;
}
.mui-preview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.mui-preview-loading.mui-active {
    display: block;
}
.mui-preview-loading .mui-spinner-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
}
.mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
p img {
    max-width: 100%;
    height: auto;
}


.zbui-pics .mui-icon-plus {
    font-size: 75px;
    color: #ccc8c8;
}

.zbui-pics .mui-icon-closeempty {
    position: absolute;
    color: white;
    right: 0;
    top: 10px;
    background-color: #9d9b9b;
}

.mui-dtpicker .mui-dtpicker-header {
    position: relative;
}

.mui-poppicker .mui-poppicker-header {
    position: relative;
}

.mui-popicker-label {
    font-size: 14px;
    font-weight: bold;
    color: #5f5f5f;
    text-align: center;
    line-height: 40px;
    position: absolute;
    margin: 0 60px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zbui-sqgrid {
    margin-left: 0;
}

.zbui-sqgrid .mui-table-view-cell:after {
    background-color: transparent !important;
}

.zbui-input.multitext {
    width: 100% !important;
}

.zbui-input.multitext textarea {
    padding: 0;
    margin:0;
    font-size: 15px;
}

